# Dependencies
node_modules/
vendor/

# Environment
.env
.env.local
.env.*.local

# Next.js
.next/
out/

# Build
dist/
build/

# Symfony
/var/
/public/bundles/

# Tests
coverage/

# IDE / OS
.DS_Store
.idea/
.vscode/
